<section id="header">
  <div class="top_nav p-2">
    <div class="container">
      <div class="row topbar">
        <div class="col userlogin text-right ">
          <div *ngIf="currentUser; then NOTfirst else firstTIME"></div>
          <ng-template #NOTfirst>

          </ng-template>

          <ng-template #firstTIME>
            <a class="loginA mr-2">
                <i class="fas fa-user color-orange"></i>
              Login
            </a> <span class="text-white"> | </span>
            <a class="RegisterA ml-2">
                <i class="fas fa-lock color-orange"></i>
              Register
            </a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
