<section id="footer-section">
  <div class="container text-white">
    <div class="row">
      <div class="col-md-3">
        <div class="about-us">
          <h4 class="f400">About Us</h4>
          <p>The Guest Home One is the new home to help you find a place to stay around New Zealand. We appreciate that
            not everyone wants to rent a whole house and only need one or two rooms for a short or long term. We have
            thousands you can choose a play to live that suits you needs, ranging in price from high properties down to
            budget concious rooms in suburbs to suite your requirements. We’ll show you the local schools and amenities,
            crime stats, commute times … You’ll find it all - and more - under The Guest Home.</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="quick-links">
          <h4 class="f400">Quick links</h4>
          <ul>
            <li>Rent</li>
            <li>New Development</li>
            <li>Commercial</li>
            <li>Valuation</li>
            <li>Find an agent</li>
            <li>Suburbs</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="recent-post">
          <h4 class="f400">Recent Post</h4>
          <p>Lorem, ipsum.</p>
          <p>Lorem, ipsum.</p>
          <p>Lorem, ipsum.</p>
          <p>Lorem, ipsum.</p>
          <p>Lorem, ipsum.</p>
          <p>Lorem, ipsum.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="locate-us">
          <h4 class="f400">Locate Us</h4>
          <div class="imgBox">
            <img src="assets/test_bc//map.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="copy-right-section">
  <div class="container text-white f400">
    <nav class="navbar">
      <div class="d-inline-flex justify-content-center" style="width:100%;">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <ul class="list-inline-mb-0">
              <li class="list-inline-item"> &copy; TGH</li>
              <li class="list-inline-item">Privacy Policy</li>
              <li class="list-inline-item">Disclaimer and Disclosures</li>
              <li class="list-inline-item">User Terms</li>
              <li class="list-inline-item">FAQs</li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
