<section id="search-by-cat">
  <div class="container">
    <div class="header text-center pt-5">
      <h3 class="color-rose f400">Search By Categoty</h3>
      <h4 class="color-gray f18 f400">ALong with property management,TGH also provide real estate rental service</h4>
    </div>

    <div class="category-listing pt-4 pb-5">
      <div class="row">
        <div class="col-md-4" *ngFor="let item of [0,0,0]">
          <mat-card>
            <mat-card-content>
              <img mat-card-image src="assets/test_bc/4.jpg">
              <div class="cat-info text-center">
                <h4 class="color-blue f400">Apartments</h4>
                <h6 class="color-gray f400">Lorem, ipsum.</h6>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</section>
