<section id="home-listing">
  <!-- price drop section -->
  <div class="price-drop-rental">
    <div class="container">
      <div class="rental-list">
        <h3 class="color-rose">Price Drop Rental <small class="float-right color-gray">All Listing <i
              class="fas fa-angle-right color-rose"></i></small></h3>
        <div class="row text-white clearfix">
          <div class="col-md-3">
            <div class="div1">
              <span class="prop-tag">House</span>
              <div class="property-info">
                <span class="badge">$1100</span>
                <h5 class="add1">3395, Lodgeville Road</h5>
                <h6 class="add2">Golden Valley,MN 55427</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="div2">
              <span class="prop-tag">House</span>
              <div class="property-info">
                <span class="badge">$1100</span>
                <h5 class="add1">3395, Lodgeville Road</h5>
                <h6 class="add2">Golden Valley,MN 55427</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="div3">
              <span class="prop-tag">House</span>
              <div class="property-info">
                <span class="badge">$1100</span>
                <h5 class="add1">3395, Lodgeville Road</h5>
                <h6 class="add2">Golden Valley,MN 55427</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="div4">
              <span class="prop-tag">House</span>
              <div class="property-info">
                <span class="badge">$1100</span>
                <h5 class="add1">3395, Lodgeville Road</h5>
                <h6 class="add2">Golden Valley,MN 55427</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- submit your property -->
  <div class="submit-property-box text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-8 m-auto">
          <h3 class="mb-0">Do you want your property to be listed here?</h3>
        </div>
        <div class="col-md-4">
          <button mat-raised-button>Submit your property</button>
        </div>
      </div>

    </div>
  </div>



  <div class="new-property-list">
    <div class="container py-4">
      <div class="list-header text-center">
        <h3 class="color-rose f400">New Properties for You</h3>
        <h5 class="color-gray f400">Along with property management,TGH also provide real estate rental service</h5>
      </div>
      <div class="property-listing mt-4">
        <div class="row">
          <div class="col-md-3" *ngFor="let item of [0,0,0,0,0,0,0,0]">
            <mat-card class="p-0 text-white">
              <mat-card-content>
                <span class="prop-tag">House</span>
                <div class="property-info">
                  <span class="badge">$1100</span>
                  <h5 class="add1">3395, Lodgeville Road</h5>
                  <h6 class="add2">Golden Valley,MN 55427</h6>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
