<section id="why-people-choose-us">
  <div class="container">
    <div class="main-content">
      <div class="row">
        <div class="col-md-7">
          <div class="textBox">
            <h2 class="f400 color-rose">Why people choose us?</h2>
            <div class="row pt-4">
              <div class="col-md-3">
                <img src="assets/logo/house.png" alt="">
              </div>
              <div class="col-md-9">
                <h5>Excellent Reputation</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam suscipit velit voluptatibus odit
                  earum provident.</p>
              </div>
              <div class="col-md-3">
                <img src="assets/logo/house.png" alt="">

              </div>
              <div class="col-md-9">
                <h5>Excellent Reputation</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam suscipit velit voluptatibus odit
                  earum provident.</p>
              </div>
              <div class="col-md-3">
                <img src="assets/logo/house.png" alt="">

              </div>
              <div class="col-md-9">
                <h5>Excellent Reputation</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam suscipit velit voluptatibus odit
                  earum provident.</p>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-5">
          <div class="imageBox">
            <img src="assets/test_bc/pic.jpeg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
