<section id="slider">
  <app-header></app-header>
  <app-nav-bar></app-nav-bar>

  <!-- banner starts -->
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="color-orange">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
          <hr class="line-bar bg-white">
          <h4 class="f300 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, nesciunt. Voluptate
            qui, velit ducimus
            beatae fugiat consequuntur numquam, amet voluptas molestias mollitia deleniti dolorum hic!</h4>
        </div>
        <div class="col-md-4">
          <div class="search-form text-white">
            <h4 class="text-center">Find properties to rent</h4>
            <form>
              <div class="form-group">
                <label for="keyword">Keyword</label>
                <input type="text" class="form-control" id="keyword" placeholder="any" formControlName="keyword">
              </div>
              <div class="form-group">
                <label for="keyword">Property Status</label>
                <input type="text" class="form-control" id="keyword" placeholder="any" formControlName="keyword">
              </div>
              <div class="form-group">
                <label for="keyword">Property Type</label>
                <input type="text" class="form-control" id="keyword" placeholder="any" formControlName="keyword">
              </div>
              <div class="form-group">
                <label for="keyword">Location</label>
                <input type="text" class="form-control" id="keyword" placeholder="any" formControlName="keyword">
              </div>
              <div class="clearfix btn-group mt-3 w-100">
                <button mat-raised-button class="btn btn-rose">More !</button>

                <button mat-raised-button class="btn btn-blue">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- banner ends -->


</section>
<div class="rental-services">
  <div class="container">
    <div class="outerDIV">

      <div class="main-content text-center">
        <h3 class="color-orange">Best Real Estates Rental Services</h3>
        <h5 class="color-gray">Along with property, TGH also provides real estate rental services</h5>
        <!-- <hr> -->
        <div class="row mt-5">
          <div class="col-md-4">
            <img src="assets/icons/icon1.png" alt="">
            <h5>Find Your Home</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, delectus.</p>
          </div>
          <div class="col-md-4">
            <img src="assets/icons/icon2.png" alt="">
            <h5>Securing The Property</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, delectus.</p>
          </div>
          <div class="col-md-4">
            <img src="assets/icons/icon3.png" alt="">
            <h5>Furnishing The Property</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, delectus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
