/* You can add global styles to this file, and also import other style files */
// Menu: RadikalW03-Thin  18px
// Find properties to rent: RadikalW01-Reg... 25px
// Big Heading: RadikalW03-Thin  35px
// Sub Heading: RadikalW03-Thin  18px
// Body font: RadikalW03-Thin  15px
// Price: RadikalW01-Bold 14px
// Property name: RadikalW01-Bold 16px
// Property description: RadikalW01-Reg... 14px
// Blue Heading: RadikalW03-Thin   20px
// Footer: RadikalW03-Thin  14px
// Page Title: RadikalW01-Bold  50px

// List property
// Property name: RadikalW01-Reg...  20px
// Property description: RadikalW03-Thin  13px


.color-orange {
  color: #ff8500;
}

.color-blue {
  color: #56badd;
}

.color-gray {
  color: rgba(0, 0, 0, 0.6);
}

.color-grey {
  color: #202020;
}

.color-rose {
  color: #f15c4b;
}

.color-green {
  color: #17a11a;
}

/* font sizes */

.f11 {
  font-size: 11px !important;
}

.f12 {
  font-size: 12px !important;
}

.f13 {
  font-size: 13px !important;
}

.f14 {
  font-size: 14px !important;
}

.f15 {
  font-size: 15px !important;
}

.f16 {
  font-size: 16px !important;
}

.f17 {
  font-size: 17px !important;
}

.f18 {
  font-size: 18px !important;
}

.f300 {
  font-weight: 300;
}

.f400 {
  font-weight: 400;
}

.f500 {
  font-weight: 500;
}

.f600 {
  font-weight: 600;
}

.clearfix {
  clear: both;
}

.btn-orange {
  background-color: #ff8500 !important;
  color: #ffffff  !important;
}
.btn-rose {
  background-color: #f15c4b !important;
  color: #ffffff  !important;
}

.btn-blue {
  color: #ffffff !important;
  background-color: #56badd !important;
}

// *:focus {
//   outline: 0;
// }











@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
}

@media only screen and (min-width: 320px) and (max-width: 480px) {


}
